body {
    font-family: Arial, sans-serif;
    background-color: #e7c5c5;
    margin: 0;
    padding: 0;
  }
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .city {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  .city h2 {
    margin-top: 0;
  }
  .city p {
    margin: 5px 0;
  }
  .city img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  h1{
    text-align: center;
  }